$base-yellow: rgb(255, 236, 0);
$base-black-bg: #121212;
$base-white: #fff;
$status-green: #7bad7b;
$status-red: #ee6969;
$status-requested: #b569ee;
$status-overdue: #eea669;
$base-dark-grey: #212121;
$base-light-grey: #525252;
$base-hover-gray: #3a3b3c;
$base-snack-color: rgb(40 44 52);