@import "./colors.scss";

.input{
    font-size: 1.6rem;
    color: $base-white ;
    background: transparent;
    border: none;
    border-bottom: 1px solid $base-white;
    padding: .9rem 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}